<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>Detalles de la Película</title>
</head>
<body>
    <video autoplay muted loop id="background-video">
        <source src="{{ url_for('static', filename='videos/background-video.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <header>
        <div class="contenedor">
            <h2 class="logotipo">MovieDB</h2>
            <nav>
                
            </nav>
        </div>
    </header>

    <main>
        <div class="contenedor">
            <div class="imagenes-lado-izquierdo">
                
            </div>
            <div class="contenido-principal">
                <h1>Detalles de la Película</h1>
                {% if pelicula %}
                    <div class="pelicula-detalle">
                        <h2>{{ pelicula.title }}</h2>
                        <img src="https://image.tmdb.org/t/p/w500{{ pelicula.poster_path }}" alt="{{ pelicula.title }} Poster">
                        <p>{{ pelicula.overview }}</p>
                    </div>
                {% else %}
                    <p>No se encontraron detalles de la película.</p>
                {% endif %}
            </div>
        </div>
    </main>
</body>
</html>
